<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DemandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="entity.Demand">
        <id column="uid" property="uid" />
        <result column="demand_type" property="demandType" />
        <result column="regin_id" property="reginId" />
        <result column="regin_name" property="reginName" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="create_date" property="createDate" />
        <result column="order_no" property="orderNo" />
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        uid, demand_type, regin_id,regin_name, category_id,category_name, user_id, title, creator_id, creator_name, create_date, order_no
    </sql>

    <!--List<Demand> selectList();-->
    <select id="selectList" parameterType="vo.DemandPageVo" resultType="entity.Demand">
        select * from demand
        LIMIT #{offset}, #{pageSize}
    </select>


</mapper>