<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.DemandContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="entity.DemandContent">
        <id column="uid" property="uid" javaType="java.lang.Integer"/>
        <result column="did" property="did" javaType="java.lang.Integer"/>
        <result column="content" property="content" javaType="java.lang.String"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, did, content
    </sql>

    <insert id="insert" parameterType="entity.DemandContent">
        insert demand_content(did, content)
        values(#{did},#{content})
        <selectKey resultType="int" keyProperty="uid" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

</mapper>